// mixin
$bg-light: #fff;
$bg-dark: #000;
$bg-yellow: #FEB534;
$bg-gray: #ebebeb;
$bg-pink: #f26c4f;
$bg-footer: #7f7f7f;
$bg-before-line: rgba(0, 0, 0, 0.20);
$text-yellow: #FEB534;
$yellow-icon: #FEB534;
$text-dark: #000;
$text-light: #fff;
$text-yl1: #FEB534;
$font-face: 'Montserrat',
sans-serif;
ul {
    list-style: none;
}

a {
    &:hover {
        text-decoration: none;
    }
}

select {
    cursor: pointer;
    &:focus {
        border: 0;
        outline: 0;
    }
}

h3 {
    font-size: 24px;
}

img {
    max-width: 100%;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-30 {
    padding-bottom: 30px;
}

.text-yellow {
    color: $text-yellow;
}

.bg-yellow {
    background-color: $bg-yellow;
    color: #fff;
}

// @media(min-width: 1200px) {
//     .container {
//         max-width: 960px;
//     }
// }

/* style */


/* ---- Header-page ----*/

.header-page {
    z-index: 10000;
    .fixed {
        background-color: $yellow-icon;
    }
}


/* ---- Footer page ---- */

.footer-page {
    &::before {
        background-color: $bg-footer;
    }
    .coppy-right {
        background: #000;
        position: relative;
        margin-top: 20px;
    }
}

.footer-info {
    width: 75%;
}


/* ----- banner page---- */

.banner {
    &__page {
        img {
            height: 436px;
            min-width: 100%;
        }
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        width: 100%;
    }
    &__title {
        font-size: 40px;
        font-weight: bold;
        //   text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 0px 0px 1px #333;
        text-align: center;
    }
    &__text {
        font-size: 28px;
        text-align: center;
        text-shadow: 0px 0px 1px #333;
    }
}

.box {
    margin-top: 40px;
    &__title {
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 700;
        text-align: center;
    }
    &__des {
        font-size: 15px;
        margin-bottom: 25px;
    }
}

.sub-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.nation {
    &__list {
        margin-bottom: 30px;
    }
    &__item {
        margin-bottom: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.123);
            z-index: 1;
        }
    }
    &__name {
        margin-left: 60px;
        position: relative;
        z-index: 50;
        a {
            font-size: 28px;
            color: #fff;
            font-weight: 600;
            text-decoration: none;
            transition: all 0.3s linear;
            text-shadow: 0px 0px 1px #333;
            &:hover {
                color: $text-yellow;
                transition: all 0.3s linear;
            }
        }
    }
    &__info {
        margin-left: auto;
        padding: 25px 85px 25px 40px;
        width: 410px;
        background-color: rgba(0, 0, 0, 0.37);
        position: relative;
        z-index: 50;
        li {
            margin-bottom: 10px;
            &:hover {
                a {
                    font-weight: 600;
                    color: #fff;
                    border-color: $text-yellow;
                    transition: all 0.3s ease;
                }
            }
            a {
                display: block;
                font-size: 14px;
                color: rgb(226, 226, 226);
                text-shadow: 0px 0px 1px #333;
                padding: 8px 0;
                border-bottom: 2px solid transparent;
                text-decoration: none;
                transition: all 0.3s ease;
            }
        }
    }
}

#recevie_new {
    padding: 12px 100px;
    background: #333;
    label {
        color: $text-yellow;
        margin-bottom: 0;
        margin-right: 20px;
        font-size: 20px;
        font-weight: 600;
    }
    .form-control {
        height: 30px;
        border: 1px solid $text-yellow;
        background-color: transparent;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .input-group-text {
        background-color: transparent;
        color: $text-yellow;
        border: 1px solid $text-yellow;
    }
}


/* destinations cities */

.citi-caption .banner__title {
    font-style: italic;
    font-weight: 800;
}

.box section {
    margin-bottom: 35px;
}

.box__content .figure {
    display: block;
    text-align: center;
    img {
        width: 90%;
        height: 360px;
    }
}

.collapse {
    &__list {
        margin-bottom: 30px;
    }
    &__item {
        padding: 20px 0;
        border-bottom: 1px solid #A6A6A6;
        &:last-child {
            border-bottom: 0;
        }
    }
    &__title {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__name {
        font-size: 15px;
        font-weight: 700;
        margin-left: 30px;
        text-decoration: none;
    }
    &__des {
        padding: 20px 0 20px;
        margin-left: 60px;
        // display: none;
        // &.show {
        //     display: block;
        // }
    }
    &__text {
        font-size: 15px;
        text-align: justify;
    }
}

.city__icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: $bg-yellow;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.city__icon {
    .fa-plus {
        display: none;
    }
}

.collapsed {
    .city__icon .fa-minus {
        display: none;
    }
    .fa-plus {
        display: block;
    }
}

.collapse-list .collapsing {
    position: static;
    transition: all 0.1s linear;
}


/* --- destination travel info page ----- */

.info__des {
    margin-left: 80px;
}

.info__icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: $bg-yellow;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}


/* ----- destination detail page ---- */

.intro-video {
    text-align: center;
}

.disc-img {
    margin-bottom: 20px;
}

.disc-text {
    font-size: 15px;
    text-align: justify;
    h5 {
        margin-bottom: 20px;
    }
}

.tour-slider .owl-stage-outer {
    padding: 20px 0;
}

.tour-slider .tour__item {
    position: relative;
}

.tour-slider .owl-item.center {
    z-index: 50;
    top: -20px;
}

.owl-item.center {
    .tour__item {
        width: 180%;
        animation: scale both 0.3s ease;
        left: 50%;
        // top: -20px;
    }
    .tour__img img {
        opacity: 1;
        height: 360px;
    }
    .tour__detail {
        display: block;
    }
    .nav-slider {
        display: flex;
    }
}

.tour__img img {
    height: 320px;
    max-width: 100%;
    opacity: 0.6;
}

.tour__item .tour__detail {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: none;
    background: #00000073;
    color: #fff;
    width: 76%;
    font-size: 14px;
    padding: 10px 15px 10px 40px;
    border-right: 4px solid #feaf12;
}

@keyframes scale {
    0% {
        transform: translateX(-50%) scale(0);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}

.tour--name {
    color: $text-yellow;
    font-weight: 600;
    visibility: visible;
    opacity: 1;
    font-size: 18px;
}

.tour--text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 42px;
}

.nav-slider {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    &>* {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        background-color: rgba(66, 66, 66, 0.219);
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
}

.nav-next {
    border-bottom: 1px solid #333;
}

.view-all {
    text-align: right;
    position: relative;
    right: 20%;
    a {
        display: block;
        font-weight: bold;
        color: $text-yellow;
        font-size: 16px;
        text-transform: uppercase;
        overflow: hidden;
        &:hover {
            color: $yellow-icon;
        }
    }
}

.tour-slider .owl-nav.disabled+.owl-dots {
    margin-top: 0;
    margin-bottom: 0;
}

.tour-tab_wp {
    padding-top: 30px;
    .tab-content {
        margin-top: 20px;
    }
}

.nav_wp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 1px;
        background-color: #ddd;
        z-index: 1;
    }
    .nav {
        padding: 3px;
        border: 1px solid #ddd;
        border-radius: 8px;
        position: relative;
        z-index: 20;
        background-color: #fff;
        &>* {
            min-width: 180px;
            text-align: center;
        }
    }
    .nav-link {
        padding: 6px 20px;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid transparent;
        &.active,
        &:hover {
            background-color: $bg-yellow;
            color: #fff;
            border: 1px solid $bg-yellow;
        }
    }
}

.tour-tab_wp .experience {
    padding-bottom: 20px;
}


/* ----- Incentives cover---- */

.service {
    [class*="col-"] {
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    &__img {
        display: block;
        color: #fff;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.233);
            z-index: 0;
        }
        &:hover {
            color: $text-yellow;
        }
        img {
            height: 300px;
        }
    }
    &__des {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0 10px;
        text-align: center;
        z-index: 10;
        font-size: 16px;
        text-transform: uppercase;
        text-shadow: 0px 0px 2px #333;
        z-index: 0;
    }
}

@media (min-width: 992px) {
    .col-lg-20 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.box .incen-gallery {
    margin-bottom: 0;
}

.incen-gallery {
    [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

.incen-image {
    display: block;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.171);
    }
}

.box .client {
    margin-bottom: 0;
}

.client {
    background-color: #f4f4f4;
    padding-top: 30px;
    &__list {
        margin: 30px 0;
    }
}

.footer-page {
    background-color: #7f7f7f;
}


/* --- Incentives des ---- */

.box .incen-des {
    margin-bottom: 0;
    padding-bottom: 20px;
}

.indes {
    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin-bottom: 35px;
    }
    &__left {
        width: 54%;
        position: relative;
    }
    &__avatar {
        img {
            height: 380px;
        }
    }
    &__thumb-wp {
        width: 70%;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    &__thumb {
        .item {
            display: block;
            position: relative;
            border: 2px solid transparent;
            &.b-white {
                border-color: #fff;
            }
            &:hover {
                border-color: #fff;
            }
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.164);
            }
            img {
                height: 72px;
            }
        }
    }
    &__right {
        background-color: $bg-gray;
        width: 46%;
        padding: 35px 30px;
    }
    &__title {
        font-size: 24px;
        padding-bottom: 28px;
        border-bottom: 2px solid $bg-yellow;
        margin-bottom: 30px;
        font-weight: 700;
    }
    &__text {
        font-size: 16px;
        p {
            &:first-child {
                margin-bottom: 30px;
            }
        }
    }
}


/* --- Incentives service ---- */

.box .incen-ser {
    margin-bottom: 0;
    padding-bottom: 20px;
}

.inser {
    &__item {
        &:nth-child(even) {
            .row {
                flex-direction: row-reverse;
            }
        }
        [class*="col-"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__img {
        img {
            height: 306px;
        }
    }
    &__des {
        padding: 35px 30px;
        font-size: 16px;
        background-color: $bg-gray;
    }
    &__title {
        display: block;
        padding-bottom: 20px;
        border-bottom: 2px solid $bg-yellow;
        margin-bottom: 25px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
    }
}


/* ---- Hotel ----- */

// .hotel {
//     &__title {
//         font-weight: 700;
//         margin-bottom: 20px;
//     }
//     &__des {
//         margin-bottom: 25px;
//         font-size: 14px;
//     }
// }
.filter {
    &__bar {
        background-color: $bg-gray;
        font-size: 16px;
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nav {
            width: 100%;
        }
    }
    &__item {
        border-left: 1px solid #fff;
        &:first-child {
            border-left: 0;
            .nav-link {
                background-color: #feb533;
                font-weight: 500;
                color: #fff;
            }
        }
        &:last-child {
            i {
                font-size: 12px;
            }
        }
        .nav-link {
            padding: 10px 32px;
            font-weight: 500;
            border: 0;
            background: transparent;
        }
        select.nav-link {
            background: url(../image/icon/caret-down.png) no-repeat right .8rem center/9px 10px;
        }
        .dropdown-item {
            &:hover {
                background-color: #feb533;
                color: #fff;
            }
        }
    }
    &__content {
        margin-top: 40px;
    }
    &__ht {
        display: block;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.28);
        border-radius: 3px;
        &:hover {
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.281);
            &::before {
                opacity: 1;
                visibility: visible;
                transition: all 0.5s ease;
            }
            &::after {
                bottom: 0;
                transition: all 0.3s ease;
            }
            .filter__ht--name {
                color: $text-yellow;
            }
            .filter__des {
                top: 50%;
                transition: all 0.5s ease;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            background: rgba(0, 0, 0, 0.281);
            transition: all 0.3s ease;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            height: 5px;
            background-color: $text-yellow;
            transition: all 0.5s ease;
        }
    }
    &__img {
        img {
            height: 240px;
        }
    }
    &__des {
        position: absolute;
        top: 103%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        transition: all 0.5s ease;
        width: 100%;
    }
    &__ht--name {
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: 0px 0px 2px #333;
    }
    &__ht--rate {
        color: $text-yellow;
        margin: 0px 0 5px;
    }
    &__ht--pos {
        font-size: 16px;
        font-weight: 600;
        text-shadow: 0px 0px 2px #333;
        i {
            color: $text-yellow;
        }
    }
}

select.hidden-arow {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.rating-symbol {
    margin: 0 3px;
}

.pagi {
    &-item:first-child .page-link {
        border-radius: 5px;
    }
    &-item {
        &.active {
            .page-link {
                background-color: $yellow-icon;
                color: #fff;
                border: $yellow-icon;
            }
        }
        .page-link {
            border-radius: 5px;
            margin: 0 2px;
            font-size: 14px;
            &:hover {
                background-color: $yellow-icon;
                color: #fff;
            }
        }
    }
}

#quick-search {
    margin-left: auto;
    .input-group {
        border: 1px solid #ddd;
        border-radius: 3px;
    }
    .form-control {
        height: 30px;
        border: 0;
        padding: 5px 10px;
        font-size: 14px;
    }
    .input-group-text {
        border: 0;
        background-color: #fff;
    }
}


/* ------ Hotel Detail ------ */

.hotel-tab_wp {
    font-size: 16px;
    .tab-content {
        margin-top: -21px;
    }
    .tab-pane {
        background-color: $bg-gray;
        padding: 65px 100px;
    }
    h3 {
        color: $text-yellow;
        font-size: 18px;
    }
}


/* ---- Experiences List ---- */

.filter {
    &__ex-item {
        margin-bottom: 25px;
        &:hover {
            .filter__ex-img {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .filter__ex--text {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease;
            }
            .filter__ex--time {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease;
            }
            .filter__ex-title {
                color: $text-yellow;
                a {
                    color: $text-yellow;
                }
            }
        }
    }
    &__ex-img {
        display: block;
        cursor: pointer;
        position: relative;
        color: #fff;
        text-shadow: 0px 0px 1px #000;
        &:hover {
            color: #fff;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            visibility: hidden;
            opacity: 0;
            background: rgba(0, 0, 0, 0.267);
        }
        i {
            color: $text-yellow;
        }
    }
    &__ex--text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        font-size: 14px;
        padding: 0 5px;
    }
    &__ex--time {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        border-bottom: 3px solid $text-yellow;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }
    &__ex-title {
        color: #333;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 0;
        padding-bottom: 20px;
        border-bottom: 3px solid;
        a {
            display: block;
            padding-left: 15px;
            border-left: 8px solid $text-yellow;
        }
    }
}


/* ----- Experiences cover ------ */

.exp {
    &-grid {
        display: grid;
        grid-template-rows: 380px 25px 220px 220px 110px 485px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 30px 30px;
    }
    &__item {}
    &_cover--link {
        display: block;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        height: 100%;
        font-size: 15px;
        &:hover {
            &::before {
                background: rgba(0, 0, 0, 0.301);
            }
            .exp__title {
                color: $text-yellow;
            }
            .exp__des {
                bottom: 50%;
                transition: all 0.3s;
            }
            .exp__text {
                display: block;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.1);
        }
    }
    &__img {
        height: 100%;
        img {
            display: block;
            height: 100%;
        }
    }
    &-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    &-2 {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    &-3 {
        grid-column: 3/4;
        grid-row: 1/4;
    }
    &-4 {
        grid-column: 1/2;
        grid-row: 2/6;
    }
    &-5 {
        grid-column: 2/3;
        grid-row: 3/5;
    }
    &-6 {
        grid-column: 1/2;
        grid-row: 6/7;
    }
    &-7 {
        grid-column: 2/3;
        grid-row: 5/7;
    }
    &-8 {
        grid-column: 3/4;
        grid-row: 4/7;
    }
    &__des {
        position: absolute;
        bottom: 30px;
        left: 50%;
        width: 100%;
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, 50%);
        transition: all 0.4s;
        text-align: center;
        color: #fff;
        text-shadow: 0px 0px 2px #000;
    }
    &__title {
        font-weight: bold;
        text-transform: uppercase;
    }
    &__text {
        display: none;
    }
}


/* ------ Experiences Detail ------ */

.exp {
    &_detail {
        margin: 0 60px;
    }
    &_slide {
        position: relative;
        margin-bottom: 30px;
    }
    &__avatar {
        img {
            height: 420px;
        }
    }
    &__thumb-wp {
        width: 40%;
        bottom: 15px;
        left: 15px;
    }
    &__info {
        font-size: 16px;
        margin-bottom: 35px;
        i {
            color: $text-yellow;
        }
        h4 {
            color: $text-yellow;
        }
    }
    &-tab {
        margin-bottom: 30px;
        font-size: 16px;
    }
    &-pane {
        padding: 40px 100px 30px;
        &:last-child {
            padding: 40px 0 30px;
            background-color: $bg-gray;
        }
        form {
            padding: 20px 100px;
        }
    }
    &-pane_title {
        padding: 3px 100px;
        background-color: $bg-dark;
        color: $text-yellow;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    &-nav_item {
        &:last-child {
            .nav-link {
                border: 1px solid $bg-pink;
                color: $bg-pink;
                &.active {
                    color: #fff;
                    background-color: $bg-pink;
                }
            }
            &:hover {
                .nav-link {
                    color: #fff;
                    background-color: $bg-pink;
                }
            }
        }
    }
    &-content {
        .collapse__title {
            padding: 8px 10px 8px 20px;
            background-color: $bg-gray;
        }
        .collapse__item {
            padding: 3px 0;
            border-bottom: 0;
        }
        .collapse__name {
            margin-left: 0;
        }
    }
    &-detail__icon {
        width: 26px;
        height: 26px;
        margin-left: auto;
        font-size: 13px;
        border-radius: 100%;
    }
}

.ed-content {
    margin-top: -22px;
}

#travel_info {
    label {
        font-weight: bold;
    }
}

#tour_info {
    [class*="col-"] {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 0px;
    }
}

.group-child {
    width: 60%;
    display: flex;
    input {
        width: 30%;
        margin-right: 10px;
    }
}

.group-fix {
    display: flex;
    align-items: center;
    label {
        margin-right: 5px;
    }
}

.btn-submit {
    font-weight: bold;
}

.calander {
    position: relative;
    background-color: #fff;
    input {
        position: relative;
        z-index: 10;
        background-color: transparent;
    }
    &-icon {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #e6c108;
        color: #fff;
        border-radius: .25rem;
        font-size: 20px;
        z-index: 50;
    }
}


/* ---- About meet ---- */

.about-box {
    font-size: 16px;
    .box__content {
        width: 80%;
        margin: 0 auto;
    }
}

.meet {
    [class*="col-"] {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.about {
    &_m-item {
        margin-bottom: 35px;
        border: 1px solid #cccccc;
    }
    &_m-img {
        img {
            height: 260px;
        }
    }
    &_m-des {
        padding: 15px 10px 10px;
    }
    &-gallery {
        margin-bottom: 35px;
    }
}


/* ----- About  Specialize -----*/

.about-tab {
    margin-top: -22px;
    color: #fff;
    font-size: 16px;
    .tab-content {
        margin-top: -22px;
        padding: 50px 0 40px;
        position: relative;
        background-image: url(../image/about/Aurora\ mokup4.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.918);
        }
    }
    .tab-pane {
        padding-right: 160px;
    }
}

.about-tab__img img {
    height: 256px;
}


/* ---- About trade ---- */

.about-trade {
    .about_m-des {
        padding: 10px;
    }
    .about_m-img {
        height: 260px;
        display: flex;
        align-items: center;
        background-color: $bg-dark;
        img {
            height: auto;
            max-height: 100%;
        }
    }
    [class*="col-"] {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.about_m-des {
    p {
        margin-bottom: 0;
    }
}

.Request-btn {
    padding: 5px;
    font-weight: bold;
    line-height: 1.3;
    color: $bg-dark;
    &:hover {
        color: $bg-light;
    }
}


/* ---- About cover ---- */

.more-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.about-special {
    padding: 40px 0;
    position: relative;
    background-image: url(../image/about/Aurora\ mokup4.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: #fff;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.918);
    }
}

.about-team_img {
    height: 100%;
    img {
        height: 100%;
    }
}

.about-team_des {
    background-color: $bg-gray;
    height: 100%;
    padding: 30px 25px;
    text-align: justify;
    font-size: 15px;
}

.special-link {
    margin-bottom: 0;
    a {
        line-height: 30px;
        display: inline-block;
        border-bottom: 2px solid transparent;
        color: $text-yellow;
        margin-bottom: 10px;
        transition: all 0.3s ease;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            transition: all 0.3s ease;
            border-color: $text-yellow;
        }
    }
}

.view_more-btn {
    padding: 5px 10px;
    font-weight: bold;
    line-height: 1.3;
    color: $bg-dark;
    &:hover {
        color: $bg-light;
    }
}

.at-trade-item {
    border: 1px solid #cccccc;
}


/* ---- blog page ---- */

.blog {
    &-content {
        padding-top: 30px;
        .filter__bar {
            margin-bottom: 40px;
        }
    }
    &__title {
        text-align: left;
    }
    &-grid {
        display: grid;
        // grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 200px);
        grid-template-areas: "item1 item2 item3" "item4 item2 item5";
        gap: 20px 30px;
    }
    &-item {}
    &-link {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        display: block;
        color: #fff;
        height: 100%;
        &:hover {
            color: #fff;
            img {
                transform: scale(1.1);
                transition: all 0.3s linear;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.144);
            z-index: 0;
        }
    }
    &-item1 {
        grid-area: item1;
    }
    &-item2 {
        grid-area: item2;
    }
    &-item3 {
        grid-area: item3;
    }
    &-item4 {
        grid-area: item4;
    }
    &-item5 {
        grid-area: item5;
    }
    &-img {
        height: 100%;
        overflow: hidden;
        img {
            height: 100%;
            transition: all 0.3s linear;
        }
    }
    &-des {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 20px;
        font-size: 14px;
        text-shadow: 0px 0px 1px #000;
        p {
            font-size: 16px;
            margin-bottom: 0px;
        }
        span {
            display: block;
            color: #c2c2c2;
        }
    }
}

.recent {
    &-list {
        font-size: 16px;
        padding-top: 10px;
    }
    &-item {
        margin-bottom: 30px;
        transition: all 0.3s ease;
        &:hover {
            transform: translate3d(0, -10px, 0);
            transition: all 0.3s ease;
        }
    }
    &-note {
        display: inline-block;
        padding: 0 10px;
        color: #000;
        margin: 25px 0 30px;
        font-weight: 400;
        font-size: 14px;
        &:hover {
            background-color: $yellow-icon;
        }
    }
    &-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    &-time {
        margin-bottom: 10px;
    }
    &-text {
        line-height: 1.3;
        padding-right: 10px;
    }
}


/* ----- responsive -------------*/

@media(min-width: 1200px) {
    .container.fix {
        max-width: 960px;
    }
}

@media (max-width: 1200px) {
    .indes__right {
        padding: 25px 20px;
    }
    .indes__title {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .indes__text p:first-child {
        margin-bottom: 20px;
    }
    .inser__des {
        padding: 29px 20px;
    }
    .inser__title {
        padding-bottom: 15px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    .filter__item .nav-link {
        padding: 10px 25px;
    }
    .filter__ex .nav-link {
        padding: 10px 16px;
    }
    .filter__ex-title {
        font-size: 16px;
    }
    .exp-grid {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
    .exp__title {
        font-size: 20px;
    }
}

@media (max-width: 1023px) {
    .nation__info {
        width: 310px;
    }
    #recevie_new {
        padding: 12px 60px;
    }
    .owl-item.center .tour__item {
        width: 236%;
    }
    .indes__left {
        width: 100%;
    }
    .indes__right {
        width: 100%;
    }
    .inser__item {
        margin-bottom: 30px;
    }
    .inser__item:nth-child(even) .row {
        flex-direction: row;
    }
    .filter__bar {
        padding: 10px 0;
    }
    .filter__bar .container {
        flex-direction: column;
    }
    .blog-content .container {
        flex-direction: row;
    }
    .filter__item .nav-link {
        padding: 8px 25px;
        border: 1px solid #fff;
    }
    #quick-search {
        margin: 10px 0 0px auto;
    }
}

@media (max-width: 1023px) {
    .exp-grid {
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
    .exp_detail {
        margin: 0;
    }
    .exp-pane {
        padding: 40px 20px 30px;
    }
    .exp-pane form {
        padding: 20px 20px;
    }
    .group-child {
        width: 100%;
    }
    .exp-pane_title {
        padding: 10px 20px;
    }
    .group-fix label {
        width: 24%;
    }
    .footer-info {
        width: 100%;
    }
    .about-box .box__content {
        width: 100%;
    }
    .about-tab .tab-pane {
        padding-right: 0;
    }
    .about-tab .nav-link {
        padding: 6px 6px;
    }
    .about-tab__img {
        margin-bottom: 20px;
    }
    .at-trade-item {
        margin-bottom: 25px;
    }
    .blog-grid {
        grid-template-areas: "item1 item2 " "item4 item2 " "item3 item5";
    }
}

@media (max-width: 767px) {
    .box {
        margin-top: 20px;
    }
    .nation__name {
        margin-left: 20px;
    }
    .nation__info {
        padding: 10px 20px;
        width: 200px;
    }
    .banner__title {
        font-size: 28px;
    }
    .banner__text {
        font-size: 22px;
    }
    .banner__page img {
        height: 320px;
    }
    #recevie_new {
        padding: 10px;
    }
    .collapse__des {
        margin-left: 20px;
    }
    .exp-grid {
        grid-column: auto;
        grid-template-rows: auto;
    }
    .exp__item {
        grid-column: 1/2;
        grid-row: auto;
    }
}

@media (max-width: 767px) {
    .exp__thumb-wp {
        width: 70%;
    }
    .blog-grid {
        grid-template-areas: "item1" "item2" "item2" "item4" "item3" "item5";
    }
    .blog-content .container {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .owl-item.center .tour__item {
        width: 100%;
    }
    .tour__item .tour__detail {
        padding: 10px 10px 10px 15px;
        width: 86%;
    }
    .owl-item.center .tour__img img {
        height: 340px;
    }
    .nav-slider>* {
        padding: 0 20px;
    }
    .nav_wp .nav>* {
        min-width: auto;
        width: 100%;
        .nav-link {
            border: 1px solid $text-yellow;
            margin: 3px 0;
        }
    }
    .indes__avatar .item img {
        height: 300px;
    }
    .indes__thumb .item img {
        height: 52px;
    }
    .hotel-tab_wp .tab-pane {
        padding: 50px 15px;
    }
}

// detailsBlogs
.details_blog {
    padding: 30px 0px;
    h3 {
        color: $yellow-icon;
        text-align: center;
        padding: 15px 0px;
    }
    line-height: 1.4;
    .top_bar {
        .item {
            height: 350px;
            position: relative;
            img {
                height: 100%;
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: "";
                background: $bg-before-line;
            }
            .content {
                position: absolute;
                top: 20px;
                left: 0;
                transform: translate(0px 25px);
                padding: 15px;
                h3 {
                    color: $text-light;
                }
                .btn-seemore {
                    text-align: center;
                    width: 100%;
                    margin-top: 30px;
                    background: $bg-yellow;
                    padding: 10px 0px;
                    transition: all .5s ease-in;
                    border: 1px solid $bg-yellow;
                    a {
                        text-transform: uppercase;
                        font-weight: 600;
                        color: $text-light;
                        text-align: center;
                        padding: 15px;
                        width: 100%;
                        font-size: 1rem;
                    }
                    &:hover {
                        background: $bg-before-line;
                    }
                }
            }
        }
    }
    .center_bar {
        padding: 15px;
        background: $bg-before-line;
        .top-item {
            padding: 5px 15px;
            width: 100%;
            border-radius: 5px;
            background-color: $bg-dark;
        }
        .item {
            display: flex;
            align-items: center;
            padding: 15px 0px;
            border-bottom: 1px solid $bg-before-line;
            .image {
                width: 35%;
                img {
                    height: 80px;
                    border: 2px solid $bg-before-line;
                }
            }
            .content {
                padding-left: 5px;
                width: 65%;
                a {
                    font-weight: 600;
                    font-size: 1.01rem;
                    // padding-bottom: 15px;
                }
                .date {
                    padding-top: 5px;
                    text-transform: uppercase;
                }
            }
        }
        .item-bottom,
        .item-top {
            padding: 5px 0px;
            a {
                font-size: 1.05rem;
                text-transform: uppercase;
                color: $text-yl1;
                font-weight: 600;
            }
        }
        .item-top {
            border-bottom: 1px solid $bg-before-line;
            .date {
                color: $text-yl1;
            }
        }
    }
    .bar-item {
        margin-top: 30px;
        h3 {
            padding: 10px;
            margin: 0;
            color: $text-light;
            background: $bg-dark;
            border-radius: 5px 5px 0px 0px;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 1.05rem;
        }
    }
}