ul {
  list-style: none; }

a:hover {
  text-decoration: none; }

/* style */
.banner__page img {
  height: 436px;
  min-width: 100%; }
.banner__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  width: 100%; }
.banner__title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0px 0px 1px #333;
  text-align: center; }
.banner__text {
  font-size: 28px;
  text-align: center;
  text-shadow: 0px 0px 1px #333; }

.box {
  margin-top: 40px; }
  .box__title {
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 700; }
  .box__des {
    font-size: 15px;
    margin-bottom: 25px; }

.nation__list {
  margin-bottom: 30px; }
.nation__item {
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .nation__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.123);
    z-index: 1; }
.nation__name {
  margin-left: 60px;
  position: relative;
  z-index: 50; }
  .nation__name a {
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-shadow: 0px 0px 1px #333; }
    .nation__name a:hover {
      color: #FEB012;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear; }
.nation__info {
  margin-left: auto;
  padding: 25px 85px 25px 40px;
  width: 410px;
  background-color: rgba(0, 0, 0, 0.37);
  position: relative;
  z-index: 50; }
  .nation__info li {
    margin-bottom: 10px; }
    .nation__info li:hover a {
      font-weight: 600;
      color: #fff;
      border-color: #FEB012;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .nation__info li a {
      display: block;
      font-size: 14px;
      color: #e2e2e2;
      text-shadow: 0px 0px 1px #333;
      padding: 8px 0;
      border-bottom: 2px solid transparent;
      text-decoration: none;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }

#recevie_new {
  padding: 12px 100px;
  background: #333; }
  #recevie_new label {
    color: #FEB012;
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600; }
  #recevie_new .form-control {
    height: 30px;
    border: 1px solid #FEB012;
    background-color: transparent;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  #recevie_new .input-group-text {
    background-color: transparent;
    color: #FEB012;
    border: 1px solid #FEB012; }

/* destinations cities */
.citi-caption .banner__title {
  font-style: italic;
  font-weight: 800; }

.box section {
  margin-bottom: 35px; }

.box__content .figure {
  display: block;
  text-align: center; }
  .box__content .figure img {
    width: 90%;
    height: 360px; }

.collapse__list {
  margin-bottom: 30px; }
.collapse__item {
  padding: 12px 0;
  border-bottom: 1px solid #A6A6A6; }
  .collapse__item:last-child {
    border-bottom: 0; }
.collapse__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
.collapse__name {
  font-size: 15px;
  font-weight: 700;
  margin-left: 30px;
  text-decoration: none; }
.collapse__des {
  padding: 20px 0 20px;
  margin-left: 60px; }
.collapse__text {
  font-size: 15px;
  text-align: justify; }

.city__icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #FEB012;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px; }

.city__icon .fa-plus {
  display: none; }

.collapsed .city__icon .fa-minus {
  display: none; }
.collapsed .fa-plus {
  display: block; }

#accordion .collapsing {
  position: static;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear; }

/* --- destination travel info page ----- */
.info__des {
  margin-left: 80px; }

.info__icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #FEB012;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px; }

/* ----- destination detail page ---- */
.intro-video {
  text-align: center; }

.disc-img {
  margin-bottom: 20px; }

.disc-text {
  font-size: 15px;
  text-align: justify; }
  .disc-text h5 {
    margin-bottom: 20px; }

.tour-slider .owl-stage-outer {
  padding: 20px 0; }

.tour-slider .center {
  -webkit-transform: scaleX(1.5) scaleY(1.1);
          transform: scaleX(1.5) scaleY(1.1);
  z-index: 50; }
  .tour-slider .center .tour__img img {
    opacity: 1; }
  .tour-slider .center .tour__detail {
    display: block; }

.tour--name {
  color: #FEB012;
  font-weight: 600; }

.tour-slider .tour__item {
  position: relative; }

.tour__item .tour__detail {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: none;
  background: #00000073;
  color: #fff;
  width: 78%;
  font-size: 12px;
  padding: 15px; }

.tour-slider .tour__img img {
  height: 300px;
  max-width: 100%;
  opacity: 0.6; }

/* responsive */
@media (max-width: 1023px) {
  .nation__info {
    width: 310px; }

  #recevie_new {
    padding: 12px 60px; } }
@media (max-width: 767px) {
  .box {
    margin-top: 20px; }

  .nation__name {
    margin-left: 20px; }

  .nation__info {
    padding: 10px 20px;
    width: 200px; }

  .banner__title {
    font-size: 28px; }

  .banner__text {
    font-size: 22px; }

  .banner__page img {
    height: 320px; }

  #recevie_new {
    padding: 10px; }

  .collapse__des {
    margin-left: 20px; } }

/*# sourceMappingURL=page.css.map */