// mixin
$bg-light: #fff;
$bg-dark: #000;
$bg-yellow: #feaf12;
$bg-gray: #ebebeb;
//
$text-yellow: #feaf12;
$yellow-icon: #f7941d;
$text-dark: #000;
$text-light: #fff;
//
$font-face: 'Montserrat',
sans-serif;
ul {
    list-style: none;
}

a {
    &:hover {
        text-decoration: none;
    }
}

h3 {
    font-size: 24px;
}

img {
    max-width: 100%;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

// @media(min-width: 1200px) {
//     .container {
//         max-width: 960px;
//     }
// }

/* style */

.banner {
    &__page {
        img {
            height: 436px;
            min-width: 100%;
        }
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        width: 100%;
    }
    &__title {
        font-size: 40px;
        font-weight: bold;
        //   text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 0px 0px 1px #333;
        text-align: center;
    }
    &__text {
        font-size: 28px;
        text-align: center;
        text-shadow: 0px 0px 1px #333;
    }
}

.box {
    margin-top: 40px;
    &__title {
        text-transform: uppercase;
        font-size: 28px;
        margin-bottom: 20px;
        font-weight: 700;
    }
    &__des {
        font-size: 15px;
        margin-bottom: 25px;
    }
}

.nation {
    &__list {
        margin-bottom: 30px;
    }
    &__item {
        margin-bottom: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.123);
            z-index: 1;
        }
    }
    &__name {
        margin-left: 60px;
        position: relative;
        z-index: 50;
        a {
            font-size: 28px;
            color: #fff;
            font-weight: 600;
            text-decoration: none;
            transition: all 0.3s linear;
            text-shadow: 0px 0px 1px #333;
            &:hover {
                color: $text-yellow;
                transition: all 0.3s linear;
            }
        }
    }
    &__info {
        margin-left: auto;
        padding: 25px 85px 25px 40px;
        width: 410px;
        background-color: rgba(0, 0, 0, 0.37);
        position: relative;
        z-index: 50;
        li {
            margin-bottom: 10px;
            &:hover {
                a {
                    font-weight: 600;
                    color: #fff;
                    border-color: $text-yellow;
                    transition: all 0.3s ease;
                }
            }
            a {
                display: block;
                font-size: 14px;
                color: rgb(226, 226, 226);
                text-shadow: 0px 0px 1px #333;
                padding: 8px 0;
                border-bottom: 2px solid transparent;
                text-decoration: none;
                transition: all 0.3s ease;
            }
        }
    }
}

#recevie_new {
    padding: 12px 100px;
    background: #333;
    label {
        color: $text-yellow;
        margin-bottom: 0;
        margin-right: 20px;
        font-size: 20px;
        font-weight: 600;
    }
    .form-control {
        height: 30px;
        border: 1px solid $text-yellow;
        background-color: transparent;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .input-group-text {
        background-color: transparent;
        color: $text-yellow;
        border: 1px solid $text-yellow;
    }
}


/* destinations cities */

.citi-caption .banner__title {
    font-style: italic;
    font-weight: 800;
}

.box section {
    margin-bottom: 35px;
}

.box__content .figure {
    display: block;
    text-align: center;
    img {
        width: 90%;
        height: 360px;
    }
}

.collapse {
    &__list {
        margin-bottom: 30px;
    }
    &__item {
        padding: 20px 0;
        border-bottom: 1px solid #A6A6A6;
        &:last-child {
            border-bottom: 0;
        }
    }
    &__title {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__name {
        font-size: 15px;
        font-weight: 700;
        margin-left: 30px;
        text-decoration: none;
    }
    &__des {
        padding: 20px 0 20px;
        margin-left: 60px;
        // display: none;
        // &.show {
        //     display: block;
        // }
    }
    &__text {
        font-size: 15px;
        text-align: justify;
    }
}

.city__icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: $bg-yellow;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.city__icon {
    .fa-plus {
        display: none;
    }
}

.collapsed {
    .city__icon .fa-minus {
        display: none;
    }
    .fa-plus {
        display: block;
    }
}

.collapse-list .collapsing {
    position: static;
    transition: all 0.1s linear;
}


/* --- destination travel info page ----- */

.info__des {
    margin-left: 80px;
}

.info__icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: $bg-yellow;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}


/* ----- destination detail page ---- */

.intro-video {
    text-align: center;
}

.disc-img {
    margin-bottom: 20px;
}

.disc-text {
    font-size: 15px;
    text-align: justify;
    h5 {
        margin-bottom: 20px;
    }
}

.tour-slider .owl-stage-outer {
    padding: 20px 0;
}

.tour-slider .tour__item {
    position: relative;
}

.tour-slider .owl-item.center {
    z-index: 50;
    top: -20px;
}

.owl-item.center {
    .tour__item {
        width: 180%;
        animation: scale both 0.3s ease;
        left: 50%;
        // top: -20px;
    }
    .tour__img img {
        opacity: 1;
        height: 360px;
    }
    .tour__detail {
        display: block;
    }
    .nav-slider {
        display: flex;
    }
}

.tour__img img {
    height: 320px;
    max-width: 100%;
    opacity: 0.6;
}

.tour__item .tour__detail {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: none;
    background: #00000073;
    color: #fff;
    width: 76%;
    font-size: 14px;
    padding: 10px 15px 10px 40px;
    border-right: 4px solid #feaf12;
}

@keyframes scale {
    0% {
        transform: translateX(-50%) scale(0);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}

.tour--name {
    color: $text-yellow;
    font-weight: 600;
    visibility: visible;
    opacity: 1;
    font-size: 18px;
}

.tour--text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 42px;
}

.nav-slider {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    &>* {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        background-color: rgba(66, 66, 66, 0.219);
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
}

.nav-next {
    border-bottom: 1px solid #333;
}

.view-all {
    text-align: right;
    position: relative;
    right: 20%;
    a {
        display: block;
        font-weight: bold;
        color: $text-yellow;
        font-size: 16px;
        text-transform: uppercase;
        overflow: hidden;
        &:hover {
            color: $yellow-icon;
        }
    }
}

.tour-slider .owl-nav.disabled+.owl-dots {
    margin-top: 0;
    margin-bottom: 0;
}

.tour-tab_wp {
    padding-top: 30px;
    .tab-content {
        margin-top: 20px;
    }
}

.nav_wp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 1px;
        background-color: #ddd;
        z-index: 1;
    }
    .nav {
        padding: 3px;
        border: 1px solid #ddd;
        border-radius: 8px;
        position: relative;
        z-index: 20;
        background-color: #fff;
        &>* {
            width: 180px;
            text-align: center;
        }
    }
    .nav-link {
        padding: 6px 25px;
        font-size: 15px;
        font-weight: bold;
        &.active,
        &:hover {
            background-color: $bg-yellow;
            color: #fff;
        }
    }
}

.tour-tab_wp .experience {
    padding-bottom: 20px;
}


/* ----- Incentives cover---- */

.service {
    [class*="col-"] {
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    &__img {
        display: block;
        color: #fff;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.233);
            z-index: 1;
        }
        &:hover {
            color: $text-yellow;
        }
        img {
            height: 300px;
        }
    }
    &__des {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0 10px;
        text-align: center;
        z-index: 10;
        font-size: 16px;
        text-transform: uppercase;
        text-shadow: 0px 0px 2px #333;
    }
}

@media (min-width: 992px) {
    .col-lg-20 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.box .incen-gallery {
    margin-bottom: 0;
}

.incen-gallery {
    [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

.incen-image {
    display: block;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.171);
    }
}

.box .client {
    margin-bottom: 0;
}

.client {
    background-color: #f4f4f4;
    padding-top: 30px;
    &__list {
        margin: 30px 0;
    }
}

.footer-page {
    background-color: #7f7f7f;
}


/* --- Incentives des ---- */

.box .incen-des {
    margin-bottom: 0;
    padding-bottom: 20px;
}

.indes {
    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin-bottom: 35px;
    }
    &__left {
        width: 54%;
        position: relative;
    }
    &__avatar {
        .item img {
            height: 380px;
        }
    }
    &__thumb-wp {
        width: 70%;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    &__thumb {
        .item {
            display: block;
            position: relative;
            border: 2px solid transparent;
            &.b-white {
                border-color: #fff;
            }
            &:hover {
                border-color: #fff;
            }
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.164);
            }
            img {
                height: 72px;
            }
        }
    }
    &__right {
        background-color: $bg-gray;
        width: 46%;
        padding: 35px 30px;
    }
    &__title {
        font-size: 24px;
        padding-bottom: 28px;
        border-bottom: 2px solid $bg-yellow;
        margin-bottom: 30px;
        font-weight: 700;
    }
    &__text {
        font-size: 16px;
        p {
            &:first-child {
                margin-bottom: 30px;
            }
        }
    }
}


/* --- Incentives service ---- */

.box .incen-ser {
    margin-bottom: 0;
    padding-bottom: 20px;
}

.inser {
    &__item {
        &:nth-child(even) {
            .row {
                flex-direction: row-reverse;
            }
        }
        [class*="col-"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__img {
        img {
            height: 306px;
        }
    }
    &__des {
        padding: 35px 30px;
        font-size: 16px;
        background-color: $bg-gray;
    }
    &__title {
        display: block;
        padding-bottom: 20px;
        border-bottom: 2px solid $bg-yellow;
        margin-bottom: 25px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
    }
}


/* ---- Hotel ----- */

.hotel {
    &__title {
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__des {
        margin-bottom: 25px;
        font-size: 14px;
    }
}

.filter {
    &__bar {
        background-color: $bg-gray;
        font-size: 16px;
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__item {
        border-left: 1px solid #fff;
        &:first-child {
            border-left: 0;
            .nav-link {
                background-color: #feb533;
                font-weight: 500;
                color: #fff;
            }
        }
        &:last-child {
            i {
                font-size: 12px;
            }
        }
        .nav-link {
            padding: 10px 35px;
            font-weight: 500;
            &:hover {
                background-color: #feb533;
                color: #fff;
            }
        }
        .dropdown-item {
            &:hover {
                background-color: #feb533;
                color: #fff;
            }
        }
    }
    &__content {
        margin-top: 40px;
    }
    &__ht {
        display: block;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.28);
        border-radius: 3px;
        &:hover {
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.281);
            &::before {
                opacity: 1;
                visibility: visible;
                transition: all 0.5s ease;
            }
            &::after {
                bottom: 0;
                transition: all 0.3s ease;
            }
            .filter__ht--name {
                color: $text-yellow;
            }
            .filter__des {
                top: 50%;
                transition: all 0.5s ease;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            background: rgba(0, 0, 0, 0.281);
            transition: all 0.3s ease;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            height: 5px;
            background-color: $text-yellow;
            transition: all 0.5s ease;
        }
    }
    &__img {
        img {
            height: 240px;
        }
    }
    &__des {
        position: absolute;
        top: 103%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        transition: all 0.5s ease;
        width: 100%;
    }
    &__ht--name {
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: 0px 0px 2px #333;
    }
    &__ht--rate {
        color: $text-yellow;
        margin: 0px 0 5px;
    }
    &__ht--pos {
        font-size: 16px;
        font-weight: 600;
        text-shadow: 0px 0px 2px #333;
        i {
            color: $text-yellow;
        }
    }
}

.rating-symbol {
    margin: 0 3px;
}

.pagi {
    &-item:first-child .page-link {
        border-radius: 5px;
    }
    &-item {
        &.active {
            .page-link {
                background-color: $yellow-icon;
                color: #fff;
                border: $yellow-icon;
            }
        }
        .page-link {
            border-radius: 5px;
            margin: 0 2px;
            font-size: 14px;
            &:hover {
                background-color: $yellow-icon;
                color: #fff;
            }
        }
    }
}

#quick-search {
    margin-left: auto;
    .input-group {
        border: 1px solid #ddd;
        border-radius: 3px;
    }
    .form-control {
        height: 30px;
        border: 0;
        padding: 5px 10px;
        font-size: 14px;
    }
    .input-group-text {
        border: 0;
        background-color: #fff;
    }
}


/* ----- responsive -------------*/

@media (max-width: 1200px) {
    .indes__right {
        padding: 25px 20px;
    }
    .indes__title {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .indes__text p:first-child {
        margin-bottom: 20px;
    }
    .inser__des {
        padding: 29px 20px;
    }
    .inser__title {
        padding-bottom: 15px;
        margin-bottom: 20px;
        font-size: 16px;
    }
}

@media(min-width: 1200px) {
    .container.fix {
        max-width: 960px;
    }
}

@media (max-width: 1023px) {
    .nation__info {
        width: 310px;
    }
    #recevie_new {
        padding: 12px 60px;
    }
    .owl-item.center .tour__item {
        width: 236%;
    }
    .indes__left {
        width: 100%;
    }
    .indes__right {
        width: 100%;
    }
    .inser__item {
        margin-bottom: 30px;
    }
    .inser__item:nth-child(even) .row {
        flex-direction: row;
    }
    .filter__bar {
        padding: 10px 0;
    }
    .filter__bar .container {
        flex-direction: column;
    }
    .filter__item .nav-link {
        padding: 8px 29px;
        border: 1px solid #fff;
    }
    #quick-search {
        margin: 10px 0 0px auto;
    }
}

@media (max-width: 767px) {
    .box {
        margin-top: 20px;
    }
    .nation__name {
        margin-left: 20px;
    }
    .nation__info {
        padding: 10px 20px;
        width: 200px;
    }
    .banner__title {
        font-size: 28px;
    }
    .banner__text {
        font-size: 22px;
    }
    .banner__page img {
        height: 320px;
    }
    #recevie_new {
        padding: 10px;
    }
    .collapse__des {
        margin-left: 20px;
    }
}

@media (max-width: 600px) {
    .owl-item.center .tour__item {
        width: 100%;
    }
    .tour__item .tour__detail {
        padding: 10px 10px 10px 15px;
        width: 86%;
    }
    .owl-item.center .tour__img img {
        height: 340px;
    }
    .nav-slider>* {
        padding: 0 20px;
    }
    .nav_wp .nav>* {
        width: 100%;
    }
    .indes__avatar .item img {
        height: 300px;
    }
    .indes__thumb .item img {
        height: 52px;
    }
}