* {
  margin: 0;
  padding: 0; }

body {
  font-size: 13px; }

a {
  color: #000;
  text-decoration: none; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

a:hover {
  color: #FEB012; }

img {
  width: 100%;
  object-fit: cover; }

@media (min-width: 991px) {
  .col-md-2nd {
    width: calc((100% - 100px)/5);
    margin: 10px; } }
.owl-nav {
  font-size: 30px;
  color: #ffffff;
  margin: 0 !important; }
  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    border: none !important;
    background: none !important;
    outline: 0px; }
    .owl-nav .owl-prev :hover,
    .owl-nav .owl-next :hover {
      background: transparent !important; }
  .owl-nav .owl-next {
    right: 15px; }
  .owl-nav .owl-prev {
    left: 15px; }

#scroll {
  position: fixed;
  z-index: 11;
  bottom: 25vh;
  left: 5%; }
  #scroll li {
    list-style-type: none;
    line-height: 1; }
    #scroll li:nth-last-child(1) {
      padding-top: 2px; }
  #scroll a {
    color: #FEB012;
    text-align: center; }
    #scroll a i.fa-minus {
      padding-left: 1px; }

.sroll-left li {
  list-style-type: none;
  position: fixed;
  right: 0%;
  z-index: 11;
  background-color: #333;
  margin-top: 5px;
  height: 50px;
  transform: translate(0, -50%);
  width: 50px;
  transition: all .5s ease-in;
  overflow: hidden; }
  .sroll-left li:nth-child(1) {
    bottom: 38vh; }
  .sroll-left li:nth-child(2) {
    bottom: 30vh; }
  .sroll-left li:nth-child(3) {
    bottom: 22vh; }
  .sroll-left li img {
    width: 50px;
    padding: 10px 10px 10px 15px;
    height: 50px;
    object-fit: contain; }
  .sroll-left li:hover {
    width: 150px; }
  .sroll-left li a {
    text-transform: uppercase;
    font-weight: 600;
    color: #FFF; }

.typetour_owl,
.owl-custom-talking {
  z-index: unset; }
  .typetour_owl .owl-next,
  .owl-custom-talking .owl-next {
    right: -25px; }
  .typetour_owl .owl-prev,
  .owl-custom-talking .owl-prev {
    left: 5px; }

.section-title {
  padding: 0;
  margin: auto;
  text-align: center;
  padding: 50px 0px 30px;
  position: relative; }
  .section-title h2 {
    color: #FEB012;
    position: relative;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-bottom: 30px;
    margin: 0; }
    .section-title h2::before {
      position: absolute;
      content: "";
      width: 80px;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -15px);
      background: #FEB012; }
  .section-title .content_section-title {
    width: 40%;
    margin: auto;
    clear: both;
    font-size: .9rem; }

.header {
  width: 100%;
  position: absolute;
  z-index: 1; }

.menu-top {
  height: 30px; }

.menu {
  background-color: transparent;
  border-bottom: 1px solid #FFFf; }
  .menu.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 10; }
    .menu.fixed .navbar {
      padding: 3px 1rem; }
  .menu .navbar-expand-md .navbar-collapse {
    font-weight: 600;
    justify-content: space-around; }
  .menu .navbar-expand-md .navbar-nav {
    border-radius: 30px;
    justify-content: center; }
    .menu .navbar-expand-md .navbar-nav .nav-item {
      padding: 0px 15px; }
    .menu .navbar-expand-md .navbar-nav .nav-item {
      padding: .75rem .5rem;
      margin: 0 .25rem;
      float: left;
      text-transform: uppercase; }
      .menu .navbar-expand-md .navbar-nav .nav-item a {
        color: #fff;
        font-size: 1.05rem; }
      .menu .navbar-expand-md .navbar-nav .nav-item span {
        color: #FFF; }
      .menu .navbar-expand-md .navbar-nav .nav-item .color-fff.size14 {
        font-size: 1rem;
        color: #Fff;
        text-transform: initial; }
      .menu .navbar-expand-md .navbar-nav .nav-item a.tt-menu i {
        color: #fff;
        padding: 15px; }
    .menu .navbar-expand-md .navbar-nav .flex-column.padding0 .nav-item {
      padding: 0; }
    .menu .navbar-expand-md .navbar-nav .flex-column.padding0 .nav-item a {
      padding: 5px; }
    .menu .navbar-expand-md .navbar-nav .dropdown-menu {
      min-width: 100%;
      border: none;
      transition: all .5s ease-in-out;
      margin-top: -10px;
      padding-top: 0;
      transform: translate(-15%, 0px); }
      .menu .navbar-expand-md .navbar-nav .dropdown-menu .nav-item a {
        font-size: 1rem;
        color: #fff; }
      .menu .navbar-expand-md .navbar-nav .dropdown-menu .row {
        padding-bottom: 10px; }
        .menu .navbar-expand-md .navbar-nav .dropdown-menu .row.zoomin-img-header {
          padding: 0 !important; }
  .menu .navbar {
    transition: all .5s ease-in-out; }
    .menu .navbar .img-dropdownmenu,
    .menu .navbar .height100 {
      height: 100px;
      object-fit: cover;
      padding: 2px;
      background: #fff;
      transition: all .5s ease; }
      .menu .navbar .img-dropdownmenu:hover,
      .menu .navbar .height100:hover {
        background: #FEB012;
        transition: all .2s ease; }
    .menu .navbar .col-md-2 a {
      color: #fff !important; }
  .menu .navbar.sticky .navbar-nav {
    background: #014c81;
    top: 0;
    position: fixed;
    width: 100%; }
    .menu .navbar.sticky .navbar-nav li {
      padding: 0; }
  .menu .dropdown:hover .dropdown-menu {
    display: block;
    transition: all .5s ease-in-out; }
    .menu .dropdown:hover .dropdown-menu .container {
      background: transparent; }
      .menu .dropdown:hover .dropdown-menu .container .col-md-2,
      .menu .dropdown:hover .dropdown-menu .container .col-md-4,
      .menu .dropdown:hover .dropdown-menu .container .col-md-8 {
        background: #FEB012;
        padding: 15px; }
  .menu .menu-gallery {
    display: flex !important; }
    .menu .menu-gallery .item {
      padding: 0;
      object-fit: cover;
      position: relative;
      overflow: hidden;
      width: calc((90%)/4);
      margin: 3px; }
      .menu .menu-gallery .item img {
        height: 100%;
        object-fit: cover;
        width: 100%;
        overflow: hidden;
        transition: all .5s ease-in-out; }
  .menu .dropdown-menu .container_menu {
    min-width: 30vw;
    margin: auto;
    transition: all .5s ease;
    background: #fff; }
    .menu .dropdown-menu .container_menu .row_menu {
      display: flex;
      padding: 5px;
      flex-wrap: wrap;
      padding: 5px; }
      .menu .dropdown-menu .container_menu .row_menu .item {
        width: 33%;
        padding: 5px; }
        .menu .dropdown-menu .container_menu .row_menu .item:nth-last-child(1) {
          width: 66.6%;
          padding: 5px 10px 5px 5px; }
        .menu .dropdown-menu .container_menu .row_menu .item a {
          position: relative; }
          .menu .dropdown-menu .container_menu .row_menu .item a .tt-menu {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9;
            color: #fff; }
  .menu .dropdown-menu.drop_experiences .container_menu {
    min-width: 45vw;
    transition: all .5s ease; }
    .menu .dropdown-menu.drop_experiences .container_menu .row_menu .item {
      width: 25%;
      padding: 5px; }
      .menu .dropdown-menu.drop_experiences .container_menu .row_menu .item a {
        text-transform: capitalize; }
  .menu .dropdown-menu.drop-aboutus {
    min-width: 15rem !important;
    padding: 20px 15px;
    background: #fff; }
    .menu .dropdown-menu.drop-aboutus .item {
      transition: all .5s ease-in;
      position: relative;
      padding: 10px 0px; }
      .menu .dropdown-menu.drop-aboutus .item .img-dropdownmenu {
        display: none;
        transition: all .5s ease-in; }
      .menu .dropdown-menu.drop-aboutus .item a {
        text-transform: initial;
        color: #000; }
    .menu .dropdown-menu.drop-aboutus .item.active {
      position: relative;
      transition: all .5s ease-in; }
      .menu .dropdown-menu.drop-aboutus .item.active .img-dropdownmenu {
        display: block;
        height: 60px; }
      .menu .dropdown-menu.drop-aboutus .item.active .tt-menu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10px);
        color: #fff; }
  .menu .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .0em solid;
    border-right: .0em solid transparent;
    border-bottom: 0;
    border-left: .0em solid transparent; }

.banner {
  position: relative;
  top: 0;
  z-index: 0;
  width: 100%;
  left: 0; }
  .banner .item:before {
    content: "";
    position: absolute;
    z-index: 2;
    background: #00000014;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .banner img {
    height: 100vh;
    width: 100%; }
  .banner .content {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    z-index: 3;
    color: #FFF;
    text-align: left;
    padding: 15px;
    transform: translate(-50%, -50%); }
    .banner .content .title {
      width: 50%; }
    .banner .content .desc {
      margin: 30px 0; }
  .banner .search_banner {
    padding-top: 15px;
    position: absolute;
    bottom: 20%;
    width: 100%;
    left: 0;
    z-index: 1; }
    .banner .search_banner .btn-search_banner {
      position: relative; }
    .banner .search_banner .content-search_banner {
      padding: 5px 15px;
      background: #FFF;
      z-index: 9;
      position: absolute;
      border-radius: 10px;
      width: 60%;
      left: 0%;
      top: 35px; }
    .banner .search_banner .btn-search_quest {
      padding: 10px;
      font-size: 20px;
      color: #ffffff; }
    .banner .search_banner .btn-search_quest:hover {
      cursor: pointer; }
    .banner .search_banner .item-search_banner {
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      flex-wrap: wrap;
      padding: 0;
      margin: 0; }
      .banner .search_banner .item-search_banner li {
        width: 25%;
        list-style-type: none;
        padding: 5px;
        line-height: 1rem; }
        .banner .search_banner .item-search_banner li a {
          text-transform: uppercase; }
          .banner .search_banner .item-search_banner li a img {
            height: 30px;
            width: 45px;
            margin-right: 15px; }

.destination {
  background-image: url(../image/banner/myanmar.jpg);
  background-size: 100%;
  background-position-x: 100%;
  position: relative;
  height: 100vh;
  z-index: 0; }
  .destination::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.87); }
  .destination .section-title .content_section-title {
    color: #fff; }
  .destination .owl-item img {
    padding: 15px 0px;
    transition: all .5s ease-in-out; }
  .destination .owl-item.center,
  .destination .owl-item.active.center {
    height: 60vh;
    perspective: 85vh; }
    .destination .owl-item.center .item img,
    .destination .owl-item.active.center .item img {
      height: 60vh;
      transform: scale3d(1.1, 1.1, 1.1);
      margin-top: 0; }
  .destination .owl-item.active {
    height: 50vh;
    perspective: 65vh; }
    .destination .owl-item.active .item img {
      height: 50vh;
      transform: rotateY(30deg); }
  .destination .owl-item {
    height: 50vh;
    perspective: 65vh; }
    .destination .owl-item .item img {
      transform: rotateY(-30deg);
      height: 50vh;
      margin-top: 20px; }
  .destination .item {
    position: relative; }
    .destination .item .desc {
      position: absolute;
      z-index: 9;
      top: 50%;
      left: -20%;
      color: #FFF;
      display: none;
      padding: 15px;
      transition: all .5s ease-in-out; }
      .destination .item .desc h3 {
        position: relative;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 5px 0px 20px;
        margin: 0;
        text-align: left; }
        .destination .item .desc h3::before {
          content: "";
          position: absolute;
          width: 50px;
          bottom: 7px;
          height: 1px;
          background: #fff; }
      .destination .item .desc .content-desc {
        height: 78px;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        display: -webkit-box; }
        .destination .item .desc .content-desc p {
          text-align: justify; }
      .destination .item .desc .more {
        text-align: left;
        padding-top: 5px; }
        .destination .item .desc .more a {
          color: #fff;
          padding: 3px 15px;
          text-transform: uppercase;
          border: 1px solid #FEB012; }
          .destination .item .desc .more a:hover {
            animation: bnt-hover linear 2s infinite; }
  .destination .owl-item.active.center .item .desc {
    display: block; }

@keyframes bnt-hover {
  from {
    width: 0%;
    background: rgba(0, 0, 0, 0.87); }
  to {
    width: 100%;
    background: #FEB012; } }
.about_index {
  background: url(../image/background/bg-why_us.png);
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: 100%; }
  .about_index .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px; }
    .about_index .grid .item {
      position: relative;
      overflow: hidden; }
      .about_index .grid .item:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/5; }
      .about_index .grid .item:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/6; }
      .about_index .grid .item:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1/7; }
      .about_index .grid .item:nth-child(4) {
        grid-column: 4/5;
        grid-row: 1/5; }
      .about_index .grid .item:nth-child(5) {
        grid-column: 1/2;
        grid-row: 5/11; }
      .about_index .grid .item:nth-child(6) {
        grid-column: 2/3;
        grid-row: 6/11; }
      .about_index .grid .item:nth-child(7) {
        grid-column: 3/4;
        grid-row: 7/11; }
      .about_index .grid .item:nth-child(8) {
        grid-column: 4/5;
        grid-row: 5/11; }
      .about_index .grid .item img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .about_index .grid .item .desc {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        height: 100%;
        padding: 15px;
        text-align: center;
        display: flex;
        align-items: center;
        background: #e9a41986;
        color: #fff; }
        .about_index .grid .item .desc i {
          font-size: 30px;
          margin-bottom: 15px; }

.type-tours {
  background: url(../image/background/bg-type-tour.jpg.png);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative; }
  .type-tours::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    background: rgba(0, 0, 0, 0.87); }
  .type-tours .section-title {
    color: #fff; }
  .type-tours .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 33.3%, 33.3%, 33.3%;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px; }
    .type-tours .grid .item {
      position: relative; }
      .type-tours .grid .item:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/5; }
      .type-tours .grid .item:nth-child(2) {
        grid-column: 2/3;
        grid-row: 2/7; }
      .type-tours .grid .item:nth-child(3) {
        grid-column: 3/4;
        grid-row: 4/12; }
      .type-tours .grid .item:nth-child(4) {
        grid-column: 1/2;
        grid-row: 5/13; }
      .type-tours .grid .item:nth-child(5) {
        grid-column: 2/3;
        grid-row: 7/14; }
      .type-tours .grid .item img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .type-tours .grid .item .desc {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        height: 100%;
        padding: 15px;
        text-align: center;
        display: flex;
        align-items: center;
        color: #fff;
        justify-content: space-around; }
        .type-tours .grid .item .desc h3 {
          font-size: 1.05rem;
          text-transform: uppercase; }
        .type-tours .grid .item .desc i {
          font-size: 30px;
          margin-bottom: 15px; }

.experience {
  padding-bottom: 100px; }
  .experience .container-f {
    overflow: hidden; }
  .experience .p-0 {
    overflow: hidden; }
  .experience a:hover {
    text-decoration: none;
    color: #000; }
  .experience .owl-item {
    width: 230px !important; }
    .experience .owl-item .item {
      position: relative; }
      .experience .owl-item .item::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: #ffffff86;
        z-index: 1; }
  .experience .owl-item.active.center {
    width: 300px !important;
    transition: all .5s ease-in; }
    .experience .owl-item.active.center .item {
      position: relative; }
      .experience .owl-item.active.center .item::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: transparent;
        z-index: 1; }
    .experience .owl-item.active.center img {
      border-bottom: 3px solid #FEB012; }
  .experience .owl-stage-outer {
    overflow: visible !important; }
  .experience .owl-item {
    transition: all .5s ease-in; }
    .experience .owl-item img {
      height: 250px; }
    .experience .owl-item .desc h3 {
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      font-size: 1.05rem;
      font-weight: 700;
      padding: 15px 0px 15px 15px;
      position: relative; }
      .experience .owl-item .desc h3::before {
        content: "";
        position: absolute;
        width: 7px;
        height: 15px;
        top: 50%;
        left: 0;
        transform: translate(0px, -5px);
        background: #FEB012; }
      .experience .owl-item .desc h3:hover {
        color: #FEB012; }
    .experience .owl-item .desc .content-desc {
      padding: 15px 0px;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      height: 80px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: initial;
      -webkit-line-clamp: 3; }
  .experience .owl-next {
    right: -25%;
    top: 30%; }
    .experience .owl-next i {
      color: #000; }
  .experience .owl-prev {
    top: 30%; }
    .experience .owl-prev i {
      color: rgba(0, 0, 0, 0.87); }

.article_index {
  background: url(../image/background/cambodia_travel_guide_.png);
  height: 180vh;
  background-attachment: fixed;
  position: relative;
  background-position: center center; }
  .article_index::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.87); }
  .article_index::after {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: #FFF;
    line-height: 1.5;
    font-size: 1rem;
    position: absolute;
    z-index: 9; }
  .article_index .bg-article_index {
    background: url(../image/background/bg-why_us.png);
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0; }
    .article_index .bg-article_index::before {
      position: absolute;
      z-index: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.41); }
  .article_index .item {
    position: relative; }
    .article_index .item::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(rgba(255, 255, 255, 0), black); }
    .article_index .item img {
      height: 200px; }
  .article_index .desc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0%;
    padding: 20px;
    z-index: 9;
    color: #fff; }
    .article_index .desc a {
      transition: all .5s ease-in;
      color: #fff; }
      .article_index .desc a h3 {
        font-size: 1.05rem; }
      .article_index .desc a:hover {
        text-decoration: none;
        color: #FEB012; }

.article-project .row .col-md-6:nth-child(1) {
  padding-left: 0; }
.article-project .row .col-md-6:nth-child(2) {
  padding-right: 0; }
.article-project .row .item {
  position: relative; }
  .article-project .row .item img {
    height: 30vh; }
  .article-project .row .item .content {
    position: absolute;
    width: 100%;
    padding: 15px;
    color: #fff;
    top: 50%;
    height: 70px; }
    .article-project .row .item .content a {
      color: #FEB012;
      font-size: 1rem;
      text-transform: inherit; }
    .article-project .row .item .content .desc {
      text-align: justify;
      height: 80px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; }

#recevie_new {
  padding: 12px 100px;
  background: rgba(0, 0, 0, 0.87); }
  #recevie_new label {
    color: #FEB012;
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600; }
  #recevie_new .form-control {
    height: 30px;
    border: 1px solid #FEB012;
    background-color: transparent;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  #recevie_new .input-group-text {
    background-color: transparent;
    color: #FEB012;
    border: 1px solid #FEB012; }

footer {
  color: #FFF;
  line-height: 1.5;
  font-size: 1rem;
  position: relative;
  z-index: 9; }
  footer .top-footer .row {
    width: 100%; }
  footer a {
    color: #fff; }
  footer .logo {
    padding-right: 15%;
    margin-bottom: 15px; }
  footer .infor {
    clear: both;
    padding: 20px 0px; }
  footer .socical-network {
    margin-top: 30px; }
    footer .socical-network a i {
      border: 1px solid #FFF;
      width: 40px !important;
      height: 40px !important;
      margin-right: 15px;
      display: inline-flex;
      justify-content: center;
      align-items: center; }
    footer .socical-network h4 {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      color: #FEB012;
      padding: 15px 0px 20px;
      margin: 0; }
  footer .menu-footer h4 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #FEB012;
    padding: 15px 0px 20px;
    margin: 0; }
  footer .menu-footer ul {
    list-style-type: none; }
    footer .menu-footer ul li {
      padding: 5px 0px; }

.footer {
  padding-top: 50px;
  position: relative; }
  .footer::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.87);
    z-index: 0;
    height: 100%; }
  .footer .coppy-right {
    background: #000; }
    .footer .coppy-right .content {
      display: flex;
      justify-content: space-between; }
      .footer .coppy-right .content .cpyright {
        padding: 10px 0px; }
      .footer .coppy-right .content .link-cpy {
        padding: 10px 5px; }
        .footer .coppy-right .content .link-cpy a {
          color: #FEB012;
          padding-left: 1rem;
          position: relative; }
          .footer .coppy-right .content .link-cpy a::before {
            content: "";
            position: absolute;
            right: -.5rem;
            top: .4rem;
            width: 1px;
            height: .75rem;
            background: #FEB012; }
          .footer .coppy-right .content .link-cpy a:nth-last-child(1)::before {
            background: transparent; }

.banner_sustainability {
  height: 50vh;
  overflow: hidden;
  position: relative; }
  .banner_sustainability::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    content: ""; }
  .banner_sustainability img {
    height: 50vh;
    object-fit: cover;
    width: 100%; }
  .banner_sustainability h2 {
    text-transform: uppercase;
    font-size: 2rem; }

.about_sustainability .img-content {
  position: relative; }
  .about_sustainability .img-content .owl-ecotourism_image img {
    height: 40vh; }
  .about_sustainability .img-content .ecotoursrim_image_small {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 5px;
    z-index: 1; }
    .about_sustainability .img-content .ecotoursrim_image_small a {
      padding: 5px; }
      .about_sustainability .img-content .ecotoursrim_image_small a img {
        width: 120px;
        height: 80px; }
.about_sustainability .owl-ecotourism_content {
  padding: 15px;
  background: rgba(0, 0, 0, 0.4);
  height: 40vh; }
  .about_sustainability .owl-ecotourism_content .item h3 {
    padding: 15px 0px 0px;
    line-height: 1;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0; }
  .about_sustainability .owl-ecotourism_content .ct_destination {
    margin: 20px 0px; }
    .about_sustainability .owl-ecotourism_content .ct_destination a {
      font-weight: bold;
      margin-right: 7px;
      position: relative; }
      .about_sustainability .owl-ecotourism_content .ct_destination a::before {
        content: "";
        position: absolute;
        top: 5px;
        right: -7px;
        width: 1px;
        height: 10px;
        background: #000;
        transform: rotate(20deg); }
      .about_sustainability .owl-ecotourism_content .ct_destination a:nth-last-child(1)::before {
        content: "";
        background: transparent; }
  .about_sustainability .owl-ecotourism_content .desc {
    max-height: 100px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; }
.about_sustainability .owl-nav button.owl-prev {
  position: absolute;
  top: 0;
  left: 90%;
  color: #000; }
.about_sustainability .owl-nav button.owl-next {
  position: absolute;
  top: 0;
  left: 95%; }

.crs_activities .grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(12, 6vh);
  grid-gap: 16px; }
.crs_activities .item {
  position: relative;
  overflow: hidden;
  border-radius: 5px; }
  .crs_activities .item::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    content: ""; }
  .crs_activities .item img {
    width: 100%;
    height: 100%; }
  .crs_activities .item .content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    bottom: 70px;
    left: 0;
    transform: translate(0px, 100%);
    z-index: 2;
    color: #fff;
    transition: all .5s ease; }
    .crs_activities .item .content h3 {
      text-align: center;
      color: #fff;
      font-size: 1.5rem;
      text-transform: uppercase;
      transition: all .5s ease; }
    .crs_activities .item .content .desc {
      display: none; }
    .crs_activities .item .content .task {
      display: flex;
      justify-content: center; }
      .crs_activities .item .content .task a {
        width: 30px;
        border: 1px solid #FEB012;
        padding: 5px;
        margin: 5px;
        border-radius: 5px; }
  .crs_activities .item:hover .content {
    bottom: 90%;
    left: 0;
    transform: translate(0px, 100%);
    z-index: 2;
    color: #fff;
    transition: all .5s ease; }
    .crs_activities .item:hover .content h3 {
      color: #FEB012; }
    .crs_activities .item:hover .content .desc {
      display: block; }
  .crs_activities .item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/6; }
  .crs_activities .item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/7; }
  .crs_activities .item:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/8; }
  .crs_activities .item:nth-child(4) {
    grid-column: 1/2;
    grid-row: 6/13; }
  .crs_activities .item:nth-child(5) {
    grid-column: 2/3;
    grid-row: 7/13; }
  .crs_activities .item:nth-child(6) {
    grid-column: 3/4;
    grid-row: 8/13; }

.responsibilities_travel a:hover {
  text-decoration: none; }
.responsibilities_travel .item {
  position: relative; }
  .responsibilities_travel .item::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: transparent;
    z-index: 1; }
.responsibilities_travel img {
  border-bottom: 3px solid #FEB012;
  height: 250px;
  z-index: 2; }
.responsibilities_travel .desc {
  border-bottom: 2px solid #000; }
  .responsibilities_travel .desc h3 {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-size: 1.05rem;
    font-weight: 700;
    padding: 15px 0px 15px 15px;
    position: relative;
    z-index: 1; }
    .responsibilities_travel .desc h3::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 15px;
      top: 50%;
      left: 0;
      transform: translate(0px, -5px);
      background: #FEB012; }
    .responsibilities_travel .desc h3:hover {
      color: #FEB012; }
  .responsibilities_travel .desc .content-desc {
    padding: 15px 0px;
    border-top: 2px solid #000;
    height: 80px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: initial;
    -webkit-line-clamp: 3; }
  .responsibilities_travel .desc:hover {
    color: #000; }
  .responsibilities_travel .desc .details {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px; }
    .responsibilities_travel .desc .details .btn-detail a {
      padding: 8px 25px;
      border-radius: 5px;
      background-color: #FEB012;
      transition: all .5s ease;
      color: #fff;
      text-transform: uppercase;
      border: 1px solid #FEB012; }
      .responsibilities_travel .desc .details .btn-detail a:hover {
        background-color: #fff; }
    .responsibilities_travel .desc .details .btn-share a img {
      width: 30px;
      height: 30px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #FEB012; }

.viewall {
  width: 100%;
  text-align: right;
  padding: 5px 0px 15px 0px; }
  .viewall a {
    color: #FEB012;
    font-weight: 600;
    text-transform: uppercase; }
