.footer
  .footer__detail
    .container
      .row
        .col-lg-3.col-md-6
          .footer__logo
            a(href='index.html')
              img(src='./images/Logo/Light-Logo.png' alt='')
        .col-lg-3.col-md-6
          .footer__item.mt-3.mt-md-0
            h3.footer__head Services
            ul.footer__list
              li
                a.footer__link(href='') About Us
              li
                a.footer__link(href='') Blog Sidebar
              li
                a.footer__link(href='') City Hotel
              li
                a.footer__link(href='') Our Staff
              li
                a.footer__link(href='') Restaurant
        .col-lg-3.col-md-6
          .footer__item.mt-4.mt-lg-0
            h3.footer__head Contact
            ul.info.footer__list
              li.address Flat 20, Reynolds Neck, North Helenaville, FV77 8WS
              li.phone
                a.footer__link(href='tel:http://+2(305)%20587-3407')
                  | +2(305)
                  | 587-3407
              li.email
                a.footer__link(href='mailto:info@example.com') info@example.com
              li.social-links
                a.footer__link(href='https://www.facebook.com/' target='_blank')
                  span.fab.fa-facebook-f
                a.footer__link.mx-3(href='https://www.twitter.com/' target='_blank')
                  span.fab.fa-twitter
                a.footer__link(href='https://www.vimeo.com/' target='_blank')
                  span.fab.fa-vimeo-v
        .col-lg-3.col-md-6
          .footer__item.mt-4.mt-lg-0
            h3.footer__head Newsletter
            .footer__text
              p Eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .footer__form
              form(action='/')
                .form-group
                  input#email.form-control.footer__input(type='email' name='email' autocomplete='off' placeholder='Your email address')
                button.text-capitalize.footer__submit(type='submit') send now
  .copy-right
    .container
      .cr__detail.clearfix
        .cr__left.float-left
          span &copy; 2020 Hotera - All Right Reserved
        .cr__right.float-right
          ul.more-info.d-flex
            li
              a(href='') Terms Of Service
            li
              a(href='') Privacy Policy
