doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(content='width=device-width, initial-scale=1.0' name='viewport')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      meta(name='Description' content='Enter your description here')
      meta(content='' name="keyWorld'ss")
      title Trang chủ
      include template-layout/head-link.pug
   body
      include template-layout/header.pug
      include template-layout/banner-home.pug
      include template-layout/footer.pug
      include template-layout/src-script.pug