.banner-page
   .banner__item
      .banner__img(style="background-image: url(./images/banner/banner-page.jpg);")
      .banner-caption
         h2 Name_page
         .bread-crumb
            .breadcrumb__item
               a(href="/") Home
            .breadcrumb__item.active
               a Name_page
   .parter-bottom
