// Favicons
link(href='' rel='icon')
link(href='' rel='apple-touch-icon')
// Google Fonts
link(rel='preconnect" href="https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap", rel="stylesheet')

// Vendor CSS Files cdn
link(rel='stylesheet' href='./plugins/bootstrap-4.5.2/css/bootstrap.min.css')

// fontawesome 5
link(rel='stylesheet' href='./fonts/fontawesome-pro-5.15.2/css/all.min.css')

// Plugin css local
link(rel='stylesheet' href='./plugins/owlcarousel/owl.carousel.min.css')
link(rel='stylesheet' href='./plugins/owlcarousel/owl.theme.default.min.css')
link(rel='stylesheet' href='./plugins/animate/animate.min.css')
link(rel='stylesheet' href='./plugins/jqueryui/jquery-ui.min.css')
link(rel='stylesheet' href='./plugins/fancybox/jquery.fancybox.min.css')
link(rel='stylesheet' href='./plugins/daterangepicker/daterangepicker.css')
// Template Main CSS File
link(rel='stylesheet' href='./css/style.css')
link(rel='stylesheet' href='./css/responsive.css')
