mixin menu-item(text)
      li.menu-item
         a.menu-link= text
      if block
        block



header.header
   .logo
      img(src="./image/logo.png", alt="")
   nav.nav-menu
      ul.menu
          +menu-item("Destinations")
          +menu-item("EXPERIENCES")
          +menu-item("Incentives")
          +menu-item("About us")
          +menu-item("News")
          +menu-item("Sustainability")
          +menu-item("Agent Login")
      .search-bar
         form(action="")
            .search-icon
               span(class="far fa-search")
            .input-group
               input(type="text" class="searchtext")
               .input-group-append
                  .input-group-text
                     span(class="far fa-search")
      .language-menu
         button(data-toggle="dropdown") VI
         ul.dropdown-menu
            li.dropdown-item
               a(href="/")  VI
            li.dropdown-item
               a(href="/")  EN



